/* constucting main style */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html, body 
{
    height: 100%;
}
body 
{
    margin: 0 auto;
    padding: 0;
    width: 60vw;
    /* min-width: 1040px; */
    /* height: auto; */
    /* min-width: 320px; */
    overflow: unset;
}
.body_overflow
{
    overflow: hidden;
}
body, input, textarea 
{
    font-family: "Open Sans";
    font-size: 1em;
}
